#shopping_cart{
	border-top: 1px solid #000;
	margin: 15px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
	padding-top: 20px;
	
	#labels{

	}
}


.continue_shopping{
	margin:5px;
		a.continue{
			margin:10px;
			font-size: 10px;
		}
}